
.Home{
    // background-color: rgb(90, 88, 88);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
// 1.footer Home child
    footer{
        background-color: aliceblue;
        height: 80px;
        min-width: 320px;
        width: 100%;
        position: absolute;
        bottom:0 ;
        z-index: 50;
        .redBlock{
            background-color:#DD1A1A;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img{
                animation: rotate 2s linear infinite;
                width:70px;
                position:relative;
                top:24px;
            }
        }
        .blackBlock{
            background-color:#0C0C0C;
            height: 40%;
        }
    }
//2.container Home child
    .container{
        // background-color: rgb(157, 190, 179);
        display: flex;
        flex-direction: column;
        align-items: center;
        .containerImg{
            // background-color: rgb(83, 159, 226);
            width: 90%;
            max-width: 500px;
            margin-bottom: 28px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h1{
            color: #FE1936;
            font-size:1.3em;
        }
        p{
            font-size: .7em;
            text-align: center;
            margin: 7px 0;
        }
        form{
            // background-color: aliceblue;
            height: 40px;
            width: 300px;
            margin: 28px 0;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 10px ;
            overflow: hidden;
            font-size: 16px;
            position: relative;
            z-index: 100;
            input{
                height: 100%;
                width: 65%;
                padding-left: 10px;
                border-style: none;
                border: .3px solid rgba(22, 22, 22, 0.212);
                border-right: none;
                border-radius: 10px 0 0 10px;
    

            }
            button{
                background-color: #D93F3F;
                color: aliceblue;
                height: 100%;
                width: 35%;
                border-style: none;
                border-radius: 0 10px 10px 0;
            }
        }
    }

}
@media  only screen and(min-width:668px) {
    .Home{
        font-size: 40px;
        footer{
            height: 120px;
            .redBlock{
                img{
                    width:90px;
                    top:35px;
                }
            }  
        }
        .container{
            // background-color: violet;
            form{
                width: 430px;
            }
    

        }
    }
    
}