.navPagination{
    background-color: rgb(18, 85, 139);
    max-width: 90%;
    margin: 0 auto;
    // overflow-x: scroll;
    // margin-top: 50px;
    // padding: 5px;

    ul{
        // color: #97ce4c;
        // width: fit-content;
        // background-color: rgb(196, 219, 210);
        display: flex;
        flex-direction: row;
        list-style: none;


        li{
            // width:50px;
            // height:50px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // font-size: 16px;
            // font-weight: 700;
            // margin: 6px;
            // border-radius: 50%;
            // background-color:  black;
        }
    }

}