.navPagination{
    // background-color: rgb(18, 85, 139);
    width: 70%;
    overflow-x: scroll;
    // margin-top: 50px;
    // padding: 0 5px;

    ul{
        color: #212121;
        width: fit-content;
        display: flex;
        flex-direction: row;
        list-style: none;
        li{
            background-color:  rgb(202, 189, 189);
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            // font-size: 16px;
            // font-weight: 700;
            margin: 3px;
            border-radius: 8px;
        }
    }

}
@media only screen and(min-width:668px){
    .navPagination{
        ul{
            li{
                width: 40px;
                height: 40px;
                // font-size: .8em;
            }

        }


    }
}