.Pokedex{
    // background-color: rgba(87, 86, 86, 0.986);
    font-size: 30px;
    .container{
        padding: 20px;
        h2{
        font-size: .7em;
            b{
                color: #FE1936;
            }
        }
    }
    .searchBoxes{
        // background-color: rgba(0, 255, 255, 0.507);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }
    .PokemonList{
        // background-color: rgb(12, 11, 11);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}
@media only screen and(min-width:668px){
    .Pokedex{
        // font-size: 40px;
      


        .container{
            padding: 20px 0;
            max-width: 85%;
            margin:0 auto;
            background-color: rgba(202, 54, 207, 0.507);
        }
        .searchBoxes{
            flex-direction: row;
        }
    }
}