.Pokedex{
    // background-color: rgba(87, 86, 86, 0.986);
    font-size: 30px;
    .container{
        padding: 20px;
        h2{
        font-size: .7em;
            b{
                color: #FE1936;
            }
        }
    }
    .searchBoxes{
        // background-color: rgba(222, 148, 231, 0.507);
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }
    .PokemonList{
        // background-color: rgb(12, 11, 11);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
}
@media only screen and(min-width:668px){
    .Pokedex{
        // font-size: 40px;

        .container{
            padding: 20px 0;
            max-width: 85%;
            margin:0 auto;
            // background-color: rgba(202, 54, 207, 0.507);
        }
        .searchBoxes{
            // background-color: rgb(15, 15, 15);
            flex-direction: row;
            justify-content: start;
        }
    }
}