.pokemonDetail{
background-color: #E5E5E5;
padding-bottom: 100px;
.content{
    // background-color: aquamarine;
    // font-size: 30px; en desktop
    font-size: 16px;
    padding: 0 10px;
    margin: 60px 0;
    ////////////// child 1 //////////////
    .banner{
        max-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        .containerImage{
        // background-color: rgb(45, 102, 156);
        width: 170px;
        top:-15px;
        position: relative;
        // transform: translateY(-20%);
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    ////////////// child 2 //////////////
    .mainInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px;
        background-color: #FFFFFF;
        >p{
            // background-color:white ;
            padding: 5px;
            border-radius: 4px;
            font-size: 1.3em;
            font-weight: 700;
            border: rgb(185, 185, 185) .5px solid;
        }
        .h1Container{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width:100%;
            margin: 10px 0;
            background-color:transparent;
            .h1Decorection{
                width:20%;
            }
            h1{
                // background-color:rgb(154, 223, 191);
                font-size: 1.8em;
                text-align: center;
                width: 60%;
                position: relative;
                top:-10px
            }
            h1::first-letter{
                text-transform: uppercase;
                font-size: 1.5em;
            }
        }
        .measures{
            // background-color: wheat;
            display: flex;
            text-align: center;
            justify-content: space-around;
            span{
                margin:0  15px ;
                font-size: 1em;
                span{
                    font-weight: 500;
                }
            }
        }
        .Skills{
            // background-color: rgb(222, 245, 179);
            // border: rgb(185, 185, 185) .5px solid;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            >:nth-child(1){
                :nth-child(2){
                    // #85C9C5 #6C3D9A
                    background-color:#85C9C5;
                    border-style:none;
                    color:#FFFFFF;
                }
                :nth-child(3){
                    background-color:#6C3D9A;
                    border-style:none;
                    color:#FFFFFF
                }
                
            }
            section{
                // background-color: #e74c4c;
                margin: 5px;
                text-align: center;
                height: 100px;
                h2{
                    font-size: 1.2em;
                    font-weight: 500;

                }
                >span{
                    background-color: #FFFFFF;
                    display: inline-block;
                    margin: 5px;
                    padding: 7px 10px;
                    font-size: 1em;
                    min-width: 110px;
                    border: rgb(185, 185, 185) .5px solid;
                    border-radius: 5px;
                }
            }
        }
    }
    ////////////// child 3 /////////////////////////
    .stats{
    }
    ////////////// child 4 //////////////
    .moments{
    }
}

}
@media only screen and(min-width:668px){
    .pokemonDetail{
        // background-color: aqua;
        .content{
            font-size: 20px;
            max-width: 80%;
            margin: 75px auto;
                ////////////// child 1 //////////////
            .banner{
                max-height: 120px;
                .containerImage{
                width: 220px;
                }
            }
            .mainInfo{
                padding:40px 55px ;
                .Skills{
                    flex-direction: row;
                    section{
                        h2{
                        margin-bottom: 18px;
                        }
                        >span{
                            display: inline;
                        }
                    }
                }
            }
        }
    }

}