.SelectBox{
    position: relative;
    min-width: 250px;
    height: 35px;
    // margin-top: 15px;
    display: flex;
    overflow: hidden;
    border-radius: 12px;
    border: rgb(185, 185, 185) .5px solid;
    select{
    appearance: none;
    outline: 0;
    border: 0!important;
    flex: 1;
    padding:0 15px;
    cursor: pointer;
    font-size: .5em;
    color: rgb(8, 8, 8);
    background-color: #FFFFFF;
    }
    select::-ms-expand{
        display: none;
    }
}
.SelectBox::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    padding: 8px;
    color:aliceblue;
    font-size: 14px;
    cursor: pointer;
    background-color: #D93F3F;
    pointer-events: none;
}
@media only screen and(min-width:668px){
    .SelectBox{
        margin-left: 8px;
    }
}