@use './components/pokedex';
@use './components/home';
@use './components/pokemonCards';
@use './components/pokemonDetails';
@use './components/animation';
@use './components/header';
@use './components/searchBox';
@use './components/selectBox';
@use './components/paginate';




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    min-width: 320px;
    overflow-y: hidden;
}