@charset "UTF-8";
.Pokedex .container .pagination .nextBtn, .Pokedex .container .pagination .prevBtn {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-color: #FE1936;
  color: white;
  border-style: none;
}

.Pokedex {
  font-size: 30px;
  padding-bottom: 100px;
  background-color: #E5E5E5;
}
.Pokedex .container {
  padding: 20px;
}
.Pokedex .container > h2 {
  font-size: 0.7em;
}
.Pokedex .container > h2 b {
  color: #FE1936;
}
.Pokedex .container .searchBoxes {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.Pokedex .container .PokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.Pokedex .container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 668px) {
  .Pokedex .container .pagination .prevBtn, .Pokedex .container .pagination .nextBtn {
    width: 45px;
    height: 45px;
    font-size: 0.8em;
  }

  .Pokedex .container {
    padding: 20px 0;
    max-width: 85%;
    margin: 0 auto;
  }
  .Pokedex .container .searchBoxes {
    flex-direction: row;
    justify-content: start;
  }
  .Pokedex .container .pagination {
    width: 90%;
    margin: 0 auto;
  }
}
.Home {
  width: 100%;
  display: flex;
  font-size: 30px;
  padding-bottom: 80px;
}
.Home footer {
  background-color: aliceblue;
  height: 80px;
  min-width: 320px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 50;
}
.Home footer .redBlock {
  background-color: #DD1A1A;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Home footer .redBlock img {
  animation: rotate 2s linear infinite;
  width: 70px;
  position: relative;
  top: 24px;
}
.Home footer .blackBlock {
  background-color: #0C0C0C;
  height: 40%;
}
.Home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto;
  text-align: center;
}
.Home .container .containerImg {
  width: 90%;
  max-width: 500px;
  margin-bottom: 28px;
}
.Home .container .containerImg img {
  width: 100%;
  height: 100%;
}
.Home .container h1 {
  color: #FE1936;
  font-size: 1.3em;
}
.Home .container p {
  font-size: 0.7em;
  margin: 7px 0;
}
.Home .container form {
  height: 40px;
  width: 300px;
  margin: 28px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
}
.Home .container form input {
  height: 100%;
  width: 65%;
  padding-left: 10px;
  border-style: none;
  border: 0.3px solid rgba(22, 22, 22, 0.212);
  border-right: none;
  border-radius: 10px 0 0 10px;
}
.Home .container form button {
  background-color: #D93F3F;
  color: aliceblue;
  height: 100%;
  width: 35%;
  border-style: none;
  border-radius: 0 10px 10px 0;
}

@media only screen and (min-width: 668px) {
  .Home {
    font-size: 40px;
  }
  .Home footer {
    height: 120px;
  }
  .Home footer .redBlock img {
    width: 90px;
    top: 35px;
  }
  .Home .container form {
    width: 430px;
  }
}
.PokemonCard {
  width: 210px;
  min-height: 340px;
  max-height: 400px;
  padding: 8px;
  padding-top: 0px;
  margin: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 8px;
}
.PokemonCard .containerImg {
  width: 100%;
  height: 180px;
  position: relative;
  top: 70px;
  z-index: 100;
}
.PokemonCard .containerImg img {
  width: 100%;
  height: 100%;
}
.PokemonCard .containerInfo {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}
.PokemonCard h2 {
  position: relative;
  font-weight: 800;
  z-index: 100;
}
.PokemonCard h2::first-letter {
  text-transform: uppercase;
}
.PokemonCard h3 {
  font-size: 0.6em;
  font-weight: 400;
  color: #4F4F4F;
}
.PokemonCard h3 + p {
  font-size: 0.3em;
  margin-bottom: 10px;
  color: #9F9F9F;
}
.PokemonCard .borderTop {
  padding-top: 10px;
  margin-bottom: 7px;
  border-top: #b3b1b1 1px solid;
}
.PokemonCard .secStats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.6em;
}
.PokemonCard .secStats span {
  text-align: center;
}
.PokemonCard .secStats span span {
  font-size: 0.6em;
  margin: 0;
  color: #9F9F9F;
}

.pokemonDetail {
  background-color: #E5E5E5;
  padding-bottom: 25px;
}
.pokemonDetail .content {
  font-size: 16px;
  padding: 0 10px;
  margin: 70px 0;
}
.pokemonDetail .content .banner {
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonDetail .content .banner .containerImage {
  width: 170px;
  top: -25px;
  position: relative;
}
.pokemonDetail .content .banner .containerImage img {
  width: 100%;
  height: 100%;
}
.pokemonDetail .content .mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 10px 10px;
  background-color: #FFFFFF;
}
.pokemonDetail .content .mainInfo > p {
  padding: 5px;
  border-radius: 4px;
  font-size: 1.3em;
  font-weight: 700;
  border: #b9b9b9 0.5px solid;
}
.pokemonDetail .content .mainInfo .h1Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  background-color: transparent;
}
.pokemonDetail .content .mainInfo .h1Container .h1Decorection {
  width: 20%;
}
.pokemonDetail .content .mainInfo .h1Container h1 {
  font-size: 1.8em;
  text-align: center;
  width: 60%;
  position: relative;
  top: -10px;
}
.pokemonDetail .content .mainInfo .h1Container h1::first-letter {
  text-transform: uppercase;
  font-size: 1.5em;
}
.pokemonDetail .content .mainInfo .measures {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.pokemonDetail .content .mainInfo .measures span {
  margin: 0 15px;
  font-size: 1em;
}
.pokemonDetail .content .mainInfo .measures span span {
  font-weight: 500;
}
.pokemonDetail .content .mainInfo .Skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.pokemonDetail .content .mainInfo .Skills > :nth-child(1) :nth-child(2) {
  background-color: #85C9C5;
  border-style: none;
  color: #FFFFFF;
}
.pokemonDetail .content .mainInfo .Skills > :nth-child(1) :nth-child(3) {
  background-color: #6C3D9A;
  border-style: none;
  color: #FFFFFF;
}
.pokemonDetail .content .mainInfo .Skills section {
  margin: 5px;
  text-align: center;
}
.pokemonDetail .content .mainInfo .Skills section h2 {
  font-size: 1.2em;
  font-weight: 500;
}
.pokemonDetail .content .mainInfo .Skills section > span {
  background-color: #FFFFFF;
  margin: 5px;
  padding: 7px 10px;
  font-size: 1em;
  min-width: 110px;
  border: #b9b9b9 0.5px solid;
  border-radius: 5px;
}
.pokemonDetail .content .stats {
  background-color: #FFFFFF;
  padding: 10px;
}
.pokemonDetail .content .stats > h2 {
  margin-left: 45px;
  margin-bottom: 5px;
  font-size: 1.8em;
  color: #302F2F;
  font-weight: 500;
}
.pokemonDetail .content .move {
  background-color: #FFFFFF;
  margin-top: 20px;
  padding: 10px 10px 20px 10px;
}
.pokemonDetail .content .move > h2 {
  margin: 20px 0 10px 45px;
  font-size: 1.8em;
  color: #302F2F;
  font-weight: 500;
}
.pokemonDetail .content .move > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pokemonDetail .content .move > ul li {
  list-style: none;
  background-color: #E5E5E5;
  border-radius: 50px;
  text-align: center;
  color: #302F2F;
  padding: 12px;
  margin: 8px;
}

@media only screen and (min-width: 668px) {
  .pokemonDetail .content {
    font-size: 20px;
    max-width: 80%;
    margin: 85px auto;
  }
  .pokemonDetail .content .banner {
    max-height: 120px;
  }
  .pokemonDetail .content .banner .containerImage {
    width: 220px;
  }
  .pokemonDetail .content .mainInfo {
    padding: 40px 55px;
  }
  .pokemonDetail .content .mainInfo .Skills {
    flex-direction: row;
  }
  .pokemonDetail .content .mainInfo .Skills section h2 {
    margin-bottom: 18px;
  }
  .pokemonDetail .content .mainInfo .Skills section > span {
    display: inline;
  }
  .pokemonDetail .content .stats {
    padding: 0 55px 15px 55px;
  }
  .pokemonDetail .content .move {
    padding-left: 55px;
    padding-right: 55px;
  }
  .pokemonDetail .content .move > h2 {
    margin-bottom: 30px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 150;
}
header .redBlock {
  height: 68%;
  background-color: #DD1A1A;
}
header .redBlock div {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .redBlock div .logoPokedex {
  width: 160px;
  height: 40px;
  position: relative;
  top: 24px;
}
header .redBlock div .pokebol {
  animation: rotate 2s linear infinite;
  width: 55px;
  height: auto;
  position: relative;
  top: 24px;
}
header .blackBlock {
  height: 32%;
  background-color: #0C0C0C;
}

@media only screen and (min-width: 668px) {
  header .redBlock div {
    max-width: 85%;
    padding: 0;
    margin: 0 auto;
  }
  header .redBlock div .logoPokedex {
    width: 200px;
    height: 50px;
    top: 20px;
  }
  header .redBlock div .pokebol {
    width: 70px;
    height: auto;
    top: 24px;
  }
}
.SearchBox {
  background-color: #FFFFFF;
  min-width: 250px;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  border: #b9b9b9 0.5px solid;
}
.SearchBox form {
  height: 35px;
}
.SearchBox form input {
  width: 100%;
  height: 35px;
  position: relative;
  top: -10px;
  font-size: 0.5em;
  outline: 0;
  border-style: none;
  padding-left: 15px;
}
.SearchBox form span {
  position: absolute;
  right: 15px;
  top: 3px;
  font-size: 20px;
  color: #c7c7c7;
}

.SelectBox {
  position: relative;
  min-width: 250px;
  height: 35px;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  border: #b9b9b9 0.5px solid;
}
.SelectBox select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  flex: 1;
  padding: 0 15px;
  cursor: pointer;
  font-size: 0.5em;
  color: #080808;
  background-color: #FFFFFF;
}
.SelectBox select::-ms-expand {
  display: none;
}

.SelectBox::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  padding: 8px;
  color: aliceblue;
  font-size: 14px;
  cursor: pointer;
  background-color: #D93F3F;
  pointer-events: none;
}

@media only screen and (min-width: 668px) {
  .SelectBox {
    margin-left: 8px;
  }
}
.navPagination {
  width: 70%;
  overflow-x: scroll;
}
.navPagination ul {
  color: #212121;
  width: fit-content;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
}
.navPagination ul li {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border-radius: 8px;
}

@media only screen and (min-width: 668px) {
  .navPagination ul li {
    width: 40px;
    height: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-width: 320px;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*# sourceMappingURL=index.css.map */
