@charset "UTF-8";
.Pokedex {
  font-size: 30px;
}
.Pokedex .container {
  padding: 20px;
}
.Pokedex .container h2 {
  font-size: 0.7em;
}
.Pokedex .container h2 b {
  color: #FE1936;
}
.Pokedex .searchBoxes {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.Pokedex .PokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

@media only screen and (min-width: 668px) {
  .Pokedex .container {
    padding: 20px 0;
    max-width: 85%;
    margin: 0 auto;
  }
  .Pokedex .searchBoxes {
    flex-direction: row;
    justify-content: start;
  }
}
.Home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}
.Home footer {
  background-color: aliceblue;
  height: 80px;
  min-width: 320px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.Home footer .redBlock {
  background-color: #DD1A1A;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Home footer .redBlock img {
  animation: rotate 2s linear infinite;
  width: 70px;
  position: relative;
  top: 24px;
}
.Home footer .blackBlock {
  background-color: #0C0C0C;
  height: 40%;
}
.Home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .container .containerImg {
  width: 90%;
  max-width: 500px;
  margin-bottom: 28px;
}
.Home .container .containerImg img {
  width: 100%;
  height: 100%;
}
.Home .container h1 {
  color: #FE1936;
  font-size: 1.3em;
}
.Home .container p {
  font-size: 0.7em;
  text-align: center;
  margin: 7px 0;
}
.Home .container form {
  height: 40px;
  width: 300px;
  margin: 28px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
}
.Home .container form input {
  height: 100%;
  width: 65%;
  padding-left: 10px;
  border-style: none;
  border: 0.3px solid rgba(22, 22, 22, 0.212);
  border-right: none;
  border-radius: 10px 0 0 10px;
}
.Home .container form button {
  background-color: #D93F3F;
  color: aliceblue;
  height: 100%;
  width: 35%;
  border-style: none;
  border-radius: 0 10px 10px 0;
}

@media only screen and (min-width: 668px) {
  .Home {
    font-size: 40px;
  }
  .Home footer {
    height: 120px;
  }
  .Home footer .redBlock img {
    width: 90px;
    top: 35px;
  }
  .Home .container form {
    width: 430px;
  }
}
.PokemonCard {
  background-color: #635fa0;
  width: 190px;
  padding: 8px;
  height: 340px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  border-radius: 8px;
}
.PokemonCard .containerImg {
  width: 100%;
  height: 180px;
  position: relative;
  top: 75px;
}
.PokemonCard .containerImg img {
  width: 100%;
  height: 100%;
}
.PokemonCard .containerInfo {
  background-color: aliceblue;
  padding-top: 54px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
.PokemonCard h2 {
  font-size: 0.9em;
}
.PokemonCard h2::first-letter {
  text-transform: uppercase;
}
.PokemonCard h3 {
  font-size: 0.6em;
  font-weight: 400;
  color: #4F4F4F;
}
.PokemonCard h3 + p {
  font-size: 0.3em;
  margin-bottom: 10px;
  color: #9F9F9F;
}
.PokemonCard .borderTop {
  padding-top: 10px;
  margin-bottom: 7px;
  border-top: #b3b1b1 1px solid;
  border-radius: 8px 8px 0 0;
}
.PokemonCard .secStats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.6em;
}
.PokemonCard .secStats span {
  text-align: center;
}
.PokemonCard .secStats span p {
  font-size: 0.6em;
  margin: 0;
  color: #9F9F9F;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  height: 80px;
}
header .redBlock {
  height: 68%;
  background-color: #DD1A1A;
  padding: 0 20px;
}
header .redBlock div {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .redBlock div .logoPokedex {
  width: 160px;
  height: 40px;
  position: relative;
  top: 24px;
}
header .redBlock div .pokebol {
  animation: rotate 2s linear infinite;
  width: 55px;
  height: auto;
  position: relative;
  top: 24px;
}
header .blackBlock {
  height: 32%;
  background-color: #0C0C0C;
}

@media only screen and (min-width: 668px) {
  header .redBlock div {
    max-width: 85%;
    padding: 0;
    margin: 0 auto;
  }
}
.SearchBox {
  min-width: 250px;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  border: #b9b9b9 0.5px solid;
}
.SearchBox form {
  height: 35px;
}
.SearchBox form input {
  width: 100%;
  height: 35px;
  position: relative;
  top: -5px;
  font-size: 0.5em;
  outline: 0;
  border-style: none;
  padding-left: 15px;
}
.SearchBox form span {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 20px;
  color: #c7c7c7;
}

.SelectBox {
  position: relative;
  min-width: 250px;
  height: 35px;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  border: #b9b9b9 0.5px solid;
}
.SelectBox select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  flex: 1;
  padding: 0 15px;
  cursor: pointer;
  font-size: 0.5em;
  color: #080808;
}
.SelectBox select::-ms-expand {
  display: none;
}

.SelectBox::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  padding: 8px;
  color: aliceblue;
  font-size: 14px;
  cursor: pointer;
  background-color: #D93F3F;
  pointer-events: none;
}

@media only screen and (min-width: 668px) {
  .SelectBox {
    margin-left: 8px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-width: 320px;
  overflow-y: hidden;
}

/*# sourceMappingURL=index.css.map */
