.Pokedex {
  font-size: 30px;
}
.Pokedex .container {
  padding: 20px;
}
.Pokedex .container h2 {
  font-size: 0.7em;
}
.Pokedex .container h2 b {
  color: #FE1936;
}
.Pokedex .searchBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

@media only screen and (min-width: 668px) {
  .Pokedex .container {
    padding: 20px 0;
    max-width: 85%;
    margin: 0 auto;
    background-color: rgba(202, 54, 207, 0.507);
  }
  .Pokedex .searchBoxes {
    flex-direction: row;
  }
}
.Home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}
.Home footer {
  background-color: aliceblue;
  height: 80px;
  min-width: 320px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.Home footer .redBlock {
  background-color: #DD1A1A;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Home footer .redBlock img {
  animation: rotate 2s linear infinite;
  width: 70px;
  position: relative;
  top: 24px;
}
.Home footer .blackBlock {
  background-color: #0C0C0C;
  height: 40%;
}
.Home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .container .containerImg {
  width: 90%;
  max-width: 500px;
  margin-bottom: 28px;
}
.Home .container .containerImg img {
  width: 100%;
  height: 100%;
}
.Home .container h1 {
  color: #FE1936;
  font-size: 1.3em;
}
.Home .container p {
  font-size: 0.7em;
  text-align: center;
  margin: 7px 0;
}
.Home .container form {
  height: 40px;
  width: 300px;
  margin: 28px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
}
.Home .container form input {
  height: 100%;
  width: 65%;
  padding-left: 10px;
  border-style: none;
  border: 0.3px solid rgba(22, 22, 22, 0.212);
  border-right: none;
  border-radius: 10px 0 0 10px;
}
.Home .container form button {
  background-color: #D93F3F;
  color: aliceblue;
  height: 100%;
  width: 35%;
  border-style: none;
  border-radius: 0 10px 10px 0;
}

@media only screen and (min-width: 668px) {
  .Home {
    font-size: 40px;
  }
  .Home footer {
    height: 120px;
  }
  .Home footer .redBlock img {
    width: 90px;
    top: 35px;
  }
  .Home .container form {
    width: 430px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  height: 80px;
}
header .redBlock {
  height: 60%;
  background-color: #DD1A1A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8px;
}
header .redBlock .logoPokedex {
  width: 160px;
  height: auto;
  position: relative;
  top: 12px;
}
header .redBlock .pokebol {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: auto;
  position: relative;
  top: 24px;
}
header .blackBlock {
  height: 40%;
  background-color: #0C0C0C;
}

.SearchBox form {
  min-width: 250px;
  height: 35px;
  position: relative;
}
.SearchBox form input {
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 12px;
  padding-left: 15px;
  border: #b9b9b9 0.5px solid;
}
.SearchBox form span {
  position: absolute;
  right: 15px;
  top: calc(50% - 5px);
  font-size: 20px;
  color: #c7c7c7;
}

.SelectBox {
  min-width: 250px;
  height: 35px;
  margin-top: 15px;
}
.SelectBox select {
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 12px;
  padding: 0 10px;
  border: #b9b9b9 0.5px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-width: 320px;
  overflow-y: hidden;
}

/*# sourceMappingURL=index.css.map */
